/* Стили для встроенного HTML Audio  */
.customHTMLAudio {
  border: 1px solid black;
  border-radius: 15px;
  background-color: black;
  padding: 10px;
}

/* Кастомная кнопка для работы с аудио */
#customPlayer {
  cursor: pointer;

  width: 100px;
  height: 100px;

  background-repeat: no-repeat;
  background-position: center;
}

/* Клас для состояния play */
.play {
  background-image: url("/assets/play-icon.svg");
}

/* Клас для состояния pause */
.pause {
  background-image: url("/assets/pause-icon.svg");
}
